menu "FlinCGo Edge Configuration"
    config WIFI_SSID
        string "WiFi SSID"
        default "MUST_CHANGE_THIS"

    config WIFI_PASSWORD
        string "WiFi Password"
        default "MUST_CHANGE_THIS"
endmenu
