menu "FlinCGo Edge Configuration"
    config FLINCGO_AP_SSID
        string "FlinCGo Access Point SSID"
        default "FlinCGo AP"

    config FLINCGO_AP_PASS
        string "FlinCGo Access Point Password"
        default ""

    config FLINCGO_STA_PORT
        int "FlinCGo Station Port"
        range 1 65535
        default "20081"
    config FLINCGO_MTU 
        int "FlinCGo Maximum Transmission Unit"
        range 22 65535
        default "1280"
endmenu
